/* body{ */
    /* background-image: url('logo.jpg');  */
    /* background-position: 0%; */
    /* background-size: 100% 100%; */
    /* background-color:aqua; */
    /* background-size: 0%; */
.backImg{
    width:100px;
    height: auto;
    background-image: url();


}

